html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Dosis', sans-serif;
} 

main{
    background-image:url(../images/dot-grid.png) ; 
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
/*     margin: auto; */
    gap:15px;
    font-size: 1.5vw;
    margin-bottom: 5px;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > h2 {
    margin-left:5vw ;
    font-size: 2vw;
    margin-bottom: inherit;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > a {
    margin: inherit;
}

header > p {
    margin-left:5vw;
/*    margin: auto;        */
/*    text-align: center;  */
}

header > hr {
    width:95%;
}

header{
    border-radius:15px;
    position:sticky;
    top:0;
    margin: auto;
    height: fit-content;
    background-color:#9ba9fa; 
}

#important_quote{
    font-weight:500; 
    font-style:italic;
    padding-bottom: 5mm;
}

#welcome-section{
    display:flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:#fac79b;
    border-radius:15px;
    margin-bottom: 2%;
}

.project-tile{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-left:2.5%;
    margin-bottom:1%;
    gap:5%;
}

.project-tile > ul {
    padding-left:20px;
    font-size:1.5vw;
}
.project-tile > img {
    margin:1% 0 1% 0;
    width: 25vw;
    border-radius:10px;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    height:35vh;
    background-color:#c49bfa;   
}

#contact-header{
    text-align:center;
}

#contact-header > h {
    font-size:3.3vw;
}

#contact-header > p {
    font-size:15px;
    font-style:italic;
}

#contact-links{
    display:flex;
    flex-direction:row;
    
    width: 40%;
    height: 8%;
    justify-content: center;
    /*! gap: 25px; */
    font-size: 2vw;
    margin-top: 35px;
    /*! height: fit-content; */
}

#contact-link {
    height:80%;
    margin:auto;
}

#contact-link > img {
    height:100%;
    margin:auto;
}

#hello-block{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size:4.4vw;
}

#hello-block > p {
    font-size:1.4vw;
    text-align: center;
}

a {
    color:#3367d6;
    text-decoration: none;
}

#profile-link {
    
    font-size:1.5vh;
}


@media screen and (max-width: 480px)  {
    
    #navbar {
        gap:10px;
    }
    
    #navbar > a {
        font-size:4vw;
    }
    
    #navbar > h2 {
        font-size:4.5vw;
    }
    
    #navbar > img {
        width:2em;
    } 
    
    header > p {
        font-size:3vw;
        margin-left:5vw;
    }

    header > hr {
        width:95%;
    }
    
    header{
        border-radius:5px;
        height: 80%;
    }
    
    #welcome-section{
    height:80vh;
    border-radius:5px;
    }
    
    #hello-block{
    font-size:4.5vh;
    }

    #hello-block > p {
        font-size:3vw;
    }
    
    #important_quote{
        padding-bottom:1.5mm;
    }
    
    .project-tile > ul {
        font-size:3vw;
    }
    .project-tile > img {
        margin:1% 0 1% 0;
        width: 35vw;
        border-radius:7px;
    }
    
    #contact{
        border-radius:7px;
        height:14vh;
    }
    
    #contact-header{
        text-align:center;
        margin-top:5px;
    }

    #contact-header > h {
        font-size:3vh;
    }

    #contact-header > p {
        font-size:60%;
    }

    #contact-links{
        width: 100%;
        height: 15%;
        font-size: 2vh;
        margin:auto;
    }

    a > img {
        height:50%;
    }

}
