html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Dosis', sans-serif;
} 

main{
    background-image:url(../images/dot-grid.png) ; 
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
/*     margin: auto; */
    gap:15px;
    font-size: 1.5vw;
    margin-bottom: 5px;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

body > header:nth-child(1) {
    /* align-self: center; */
    margin: auto;
    height: fit-content;
    background-color:#9ba9fa; 
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

body > header:nth-child(1) > p:nth-child(2) {
    margin: auto;
    text-align: center;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > h2:nth-child(1) {
    margin-left:5vw ;
    font-size: 2vw;
    margin-bottom: inherit;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > a:nth-child(2) {
    margin: inherit;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > a:nth-child(3) {
    margin: inherit;
}

/* Element | file:///C:/Users/dcagl/Desktop/front-end-dev-book/codecamp-projects/web-design/personal-portfolio/index.html */

#navbar > a:nth-child(4) {
    margin: inherit;
}

header > p {
    margin-left:5vw;
}

header > hr {
    width:95%;
}

header{
    border-radius:15px;
    position:sticky;
    top:0;
}

#important_quote{
    font-weight:500; 
    font-style:italic;
    padding-bottom: 5mm;
}

#welcome-section{
    display:flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:#fac79b;
    border-radius:15px;
    margin-bottom: 2%;
}

.project-tile{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-left:2.5%;
    margin-bottom:1%;
    gap:5%;
}

.project-tile > ul {
    padding-left:20px;
}
.project-tile > img {
    margin:1% 0 1% 0;
    width: 25vw;
    border-radius:10px;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    height:50vh;
    background-color:#c49bfa;   
}

#contact-header{
    text-align:center;
}

#contact-header > h {
    font-size:3.3vw;
}

#contact-header > p {
    font-size:15px;
    font-style:italic;
}

#contact-links{
    display:flex;
    flex-direction:row;
    
    width: 40%;
    height: 8%;
    justify-content: center;
    /*! gap: 25px; */
    font-size: 2vw;
    margin-top: 35px;
    /*! height: fit-content; */
}

#contact-links > a {
    margin:auto;
    height: 100%;
}

a > img {
    display:inline-block;
    height:inherit;
    
}

#hello-block{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size:4.4vw;
}

#hello-block > p {
    font-size:1.4vw;
    text-align: center;
}

a {
    color:#3367d6;
    text-decoration: none;
}

@media (max-width: 600px) {
    
}
